<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="dzener.ui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <userSettings>
    <dzener.ui.Properties.Settings>
      <setting name="SettingsFromPreviousVersionUpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MainForm_Column_Width_AccountFriendlyName" serializeAs="String">
        <value>310</value>
      </setting>
      <setting name="MainForm_Column_Width_Keyword" serializeAs="String">
        <value>295</value>
      </setting>
      <setting name="MessageBoxDoNotShowAgain_ReminderToRunAppLater" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StepsAndResults_Tasks_Column_Width" serializeAs="String">
        <value>265</value>
      </setting>
      <setting name="StepsAndResults_TaskSteps_Column_Width" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="StepsAndResults_TaskStepResults_Column_Width" serializeAs="String">
        <value>620</value>
      </setting>
      <setting name="Placement_MainForm" serializeAs="String">
        <value />
      </setting>
      <setting name="Placement_StepsAndResultsForm" serializeAs="String">
        <value />
      </setting>
      <setting name="Placement_SearchPositionsChartForm" serializeAs="String">
        <value />
      </setting>
      <setting name="MessageBoxKeywordsNotInSearchTop_ShowAfter" serializeAs="String">
        <value>2000-01-01</value>
      </setting>
      <setting name="UiIsAdvancedModeEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MainForm_GridChannels_HeightPercent" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="UserLogin" serializeAs="String">
        <value />
      </setting>
      <setting name="UserPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="SelectedLoginTabIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UserPhoneNumber" serializeAs="String">
        <value />
      </setting>
      <setting name="MainForm_Column_Width_AccountNotice" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="MainForm_Column_Width_ChannelNotice" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="MainForm_Column_Width_ChannelFriendlyName" serializeAs="String">
        <value>310</value>
      </setting>
      <setting name="UiIsCtrModeEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MainForm_GridKeywords_HeightPercent" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="MainForm_GridPublications_HeightPercent" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="UiIsMinimizeToTrayEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UserPhoneNumberVkId" serializeAs="String">
        <value />
      </setting>
      <setting name="SelectedLoginIdTypeTabIndex" serializeAs="String">
        <value>0</value>
      </setting>
    </dzener.ui.Properties.Settings>
  </userSettings>
  <appSettings>
    <add key="SendKeys" value="SendInput" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CefSharp.Core" publicKeyToken="40c4b6fc221f4138" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-125.0.210.0" newVersion="125.0.210.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CefSharp" publicKeyToken="40c4b6fc221f4138" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-125.0.210.0" newVersion="125.0.210.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
